* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    place-items: center;
}
h1 {
    margin: 10px;
}

#tog {
    margin: 10px 0px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.row {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}
.box {
    margin: .5px;
    width: 75px;
    height: 75px;
}

.allimg {
    width: 55px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(0.7);
}

/* .white-box {
    background: rgb(100, 75, 43);
}
.black-box {
    background: rgb(240, 201, 150);
} */

/* 

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;
}
*/

.menu-juego{
    display:flex;
}

.division-tablero-menu{
    flex-shrink: 0; /**toma en consideracion solo lo que se ponen el flex-basis para no recrear un mal porcentaje*/
    flex-basis:calc(25% - 1rem);
    display:flex;
    flex-direction: column;
}

form{
    display:flex;
    flex-direction: column;
}

button{
    width:100%;
    margin-bottom:2px;
}

.iconoMenu{
    font-size: 0px;
}

@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
} 