* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/* .fondo{
    background-image:url('../images/entrenamiento.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: calc(100vh);
    max-width:auto;
    opacity: 0.8;
    display:flex; 
    flex-direction:column; 
} */


/* * {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
h1 {
    margin: 10px;
}

#tog {
    margin: 10px 0px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.row {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}
.box {
    margin: .5px;
    width: 75px;
    height: 75px;
}

.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(0.7);
}

.white-box {
    background: rgb(100, 75, 43);
}
.black-box {
    background: rgb(240, 201, 150);
} */

/* 

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;
}
*/
/* 
@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}  */