* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    /*Colores*/
    --bitcoin-orange:#F7931A;
    --solft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#585454;
    --off-white:#443e3b;
    --just-white:#fff;
}

html{
    font-size: 62.5%;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: #ebe5e5;
}

/* Generales*/
.bc-white{
    background-color: white;
}
.blue{
    background-color:rgb(69, 100, 201);
}

.d-block{
    display:block!important;
}

.flex-orientation-button{
    display:flex;
    justify-content: space-between;
}

.seccion {
    margin-top:2rem;
    margin-bottom:2rem;
}

.fw-300{
    font-weight: 300;
}
.fw-700{
    font-weight: 700;
}

.centrar-texto{
    text-align: center;
}
h2{
    font-size:3.5rem;
}
h3{
    font-size:3rem;
}
h4{
    font-size:2.5rem;
}
h5{
    font-size:2rem;
}
h6{
    font-size:1.6rem;
}
img{ /**esta sentencia esta haciendo las imagenes responsibas*/
    max-width: 100%;
}

.opa-50{
    opacity: 0.5;
}

.disable-ele{
    pointer-events:none;
}

.m-right{
    margin-right:1rem;
}

/*otros*/

.header-login{
    margin-top:2rem;
    display: flex;
    justify-content: flex-end;
}

.main-actualizacion{
    margin-top:6rem;
    display: flex;
    justify-content: flex-end;
}

label{
    font-weight: 700;
    margin:2rem 0 1rem 0;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    border: none;
    border-radius: 1rem;
}

.border-mensaje-error{
    border-color: red;
}

.formularioSeccion{
    background-color: white;
    padding:2rem;
    border-radius: 2rem;
    width: 100%;
    min-width: 32rem;
    max-width: 60rem;
} 

.tituloCentrado{
    text-align: center;
    margin-bottom:1rem;
}

.boton{
    color:white;
    font-weight: 700;
    text-decoration: none;
    font-size:1.8rem;
    padding:1rem 3rem;
    margin-top:1rem;
    text-align: center;
    border:none;
    cursor: pointer;
}

.d-block{
    display:block!important;
}

.mensaje-error{
    color:red;
    font-weight: 700;
}


.contenedor{
    max-width: 120rem; /*1200 px*/
    margin: 6rem auto 0;
}

.contenido-centrado{
    max-width: 80rem;
}

.centrar-texto{
    text-align: center;
}

.ma-bottom2{
    margin-bottom: 2rem;
}

.w-100{
    width: 100%;
}
/*contenido*/

.contenedor-contenido{
    display:flex;    
    justify-content: space-between;
    flex-wrap:wrap;/**genera que lo que se ponga en anuncio se cumpla, por ejemplo el 33%*/
}

.contenedor-contenido-column{
    display:flex;    
    flex-direction: column;
}

.contenedor-contenido-row{
    display:flex;    
    flex-direction: row;
}

.contenido{
    flex-shrink: 0; /**toma en consideracion solo lo que se ponen el flex-basis para no recrear un mal porcentaje*/
    flex-basis:calc(33.33% - 1rem);
    border:1px solid #b5b5b5;
    background-color:#F5F5F5;
    margin-bottom: 2rem;
}

.contenido-menu-opciones{

    flex-shrink: 0; /**toma en consideracion solo lo que se ponen el flex-basis para no recrear un mal porcentaje*/
    flex-basis:calc(50% - 1rem);
    border:1px solid #b5b5b5;
    background-color:#F5F5F5;
    margin-bottom: 2rem;
}

.contenido-anuncio{
    padding:2rem;
}
.contenido-anuncio h3,
.contenido-anuncio p{
    margin:0;
}

.col-gray{
    color:#8b8484;
}
.col-orange{
    color:#e28b19;
}
.col-red{
    color:#e21919;
}

/*Listado Piezas*/

.listado_piezas{
    display:flex;
    flex-wrap: wrap;
}

.iconoMenu{
    border-style: dashed solid;
    display: flex;
    flex-direction: row;
    color:black;
}

/*ConqueGame */

.allimg {
    width: 55px;
    position: relative;
    bottom: 5px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}


li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}
.box {
    margin: .15rem;
    width: 7.5rem;
    height: 7.5rem;
}

.row {
    display: flex;
}

.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.listado-opciones{
    position: sticky;
    top:0;
    background-color: #ebe5e5;
    width:100%;
    z-index: 10;
}

/*Listado usuarios*/

.tamanoCubos{
    width:10rem;
    height: 10rem;
}

.targetaJugador0{
    background-color: rgb(255, 183, 75);
    color:#242020
}

.targetaJugador1{
    background-color: rgb(14, 13, 13);
    color:#ebe5e5
}

.targetaJugador2{
    background-color: rgb(218, 22, 22);
    color:#ebe5e5
}

.targetaJugador3{
    background-color: rgb(129, 8, 153);
    color:#ebe5e5
}

.historialJugador{
    background-color: rgb(50, 109, 124);
    color:#ebe5e5
}


.contenedor-juegoF{
    margin: 6rem auto 0;
}

.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
    z-index: 15;
    overflow: auto;
  } 

.campo-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.campo-input-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.liga{
    color:rgb(28, 121, 184)
}

.main-tables-container{
    display:flex;
    width: 93rem;
    margin: 0 auto;
}

.main-currency-table{
    min-width: 23.5rem;
    min-height:36rem;
    margin:0 auto;
    font-family: "Inter",sans-serif;
}

.main-currency-table .currency-table--title{
    margin-bottom: 1.5rem;
    font-size:1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:var(--bitcoin-orange);
}

.currency-table--container{
    width:90%;
    min-width:23rem;
    margin:0 auto;
}

.currency-table--container table {
    width:100%;
    height:100%;
}

.currency-table--container td{
    width:50%;
    font-size:1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
}

.currency-table--container td{
    padding:1rem;
}

.tablaSeleccionada {
    background-color:#007BFF;
    color:white;
}
  
.tablaNoSeleccionada {
    background-color:var(--just-white);
    color:black;
}

/*header*/
header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}

nav {
    width: 50%;
    max-width: 38rem;
    min-width: 30rem;
    height: 5rem;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

.ligaT {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
}

.image-logo{
    position: absolute;
    max-width:50rem;
    max-height:50rem;
    border: 3px solid #73AD21;
    right: 0;
    top: calc(0% + 22rem);
}

.image-icono-seleccion{
    max-width:30rem;
    max-height: 30rem;
}

/*
input{
    padding:1rem;
    border:0.1rem solid rgb(204, 199, 199);
    border-radius: 2rem;
    outline: none;
}


*/




/* * {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
h1 {
    margin: 10px;
}

#tog {
    margin: 10px 0px;
}







.allpawn {
    transform: scale(0.7);
}

.white-box {
    background: rgb(100, 75, 43);
}
.black-box {
    background: rgb(240, 201, 150);
} */

/* 

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;
}
*/
/* 
@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}  */